#node modules
node_modules

#environment variables
.env
.env.local
.env.development
.env.test
.env.production
backend/.env
frontend/.env
frontend/.env.local

#scripts
backend/scripts/createAdmin.js

#database files
backend/supabase_schema.sql
backend/migration_auth_updates.sql