@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Verde Oscuro - Ética y estabilidad */
  --color-brand-green: #1a4d2e;
  
  /* Crema/Beige - Cercanía y calidez */
  --color-brand-beige: #f5f5dc;
  
  /* Azul Cielo - Paz y tranquilidad */
  --color-brand-blue: #87ceeb;
}

body {
    background-color: var(--color-brand-beige);
    color: #333;
}

.dark body {
    background-color: #0f172a; /* Slate 900 for dark mode background */
    color: #f5f5dc;
}
